$alignCenter: center;
$condensedFont: 'Open Sans Condensed', sans-serif;
$aliceBlue: aliceblue;
$bungeeFont: 'Bungee', Arial, Helvetica, sans-serif;
$valueNone: none;
$valueBold: bold;
$value100: 100%;
$value0: 0;
$displayBlock: block;
$zeroAuto: 0 auto;
$onehundredPixels: 100px;
$twoPixels: 2px;
$buttonPadding: 7px 43px 7px 43px;
$marginFive: 5px;
$colorBlack: black;
$fiftyPixels: 50px;
$greyColor: grey;
$thirtyPixels: 30px;
$fourtyPercent: 40%;
$tenPixels: 10px;
$colorRed: red;